<%- include ("../../partials/header.ejs")%>
<%- include ("../../partials/navbar.ejs")%>
<div class="container">
    <h2>Category registration</h2>
    <form  method = "POST" class="form-control" action="/categories/save"> <script>//crud insert</script>
        <label for=""></label>
        <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria" value="<%=category.title%>">
        <div class="category-btn">
        <button class="category">Cadatrar</button>
        </div>   

    </form>
</div>
<%- include ("../../partials/footer.ejs")%>