<nav class="top" >
    
    <div class="logotipo">
    <a class="link-logo" class="logo" href="/">
        Blog
    </a>
</div>
    <div class="menu">
        
    <ul >
        <%categories.forEach(category =>{ %> 
       
            <li >
                <a class ="link-menu" href="/category/<%=category.slug%>  "><%=category.title%> </a>
            </li>
            
     <%  })%> 
    </ul>
</div>

</nav>