<nav class="top" >
    
    <div class="logotipo">
    <a class="link-logo" class="logo" href="/">
        Blog
    </a>
</div>
    <div class="menu">
        
    <ul >
       
            <li >
                <a class ="link-menu" href="/categories">Categories</a>
            </li>
            <li >
                <a class ="link-menu" href="/articles">Articles</a>
            </li>

    </ul>
</div>

</nav>