<%- include ("../../partials/header.ejs")%>
<%- include ("../../partials/navbarHome.ejs")%>
<div class="container">
    <div class="form-login">

        <form method="POST" class="form--area" action="/admin/user/create">
            
            <input class="form--campo" type="email" name="email" placeholder="digite um email" autofocus>
            
            <input class="form--campo" type="password" name="senha" placeholder="digite uma  senha">
            <div class="button--formTwo">
              
            <button class="category category--form">Enviar</button>
            </div>
            <div class="link--form">
                <a class="links--form" href="/admin/users/create">Já tenho uma conta.</a>
    
            </div>

        </form>
        


    </div>

</div>
<%- include ("../../partials/footer.ejs")%>
